.menu {
    background-color: var(--color-neutral-800);
    cursor: pointer;
    position: relative;
}

.logo {
    width: 160px;
}


@media (min-width: 500px) {
    .logo {
        width: auto;
    }
}