@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  /* Colors */
  --color-neutral-900: #03012dff;
  --color-neutral-800: #272541ff;
  --color-neutral-700: #312f4bff;
  --color-neutral-600: #3d3b5eff;
  --color-neutral-300: #aeaeb7ff;
  --color-neutral-200: #d5d4d9ff;
  --color-neutral-0: #ffffff;

  --color-orange-500: #ff7c0aff;

  --color-blue-500: #4455daff;
  --color-blue-700: #2d1c9cff;

  /* Font Sizes */
  --font-size-xs: 12px; 
  --font-size-sm: 14px; 
  --font-size-md: 16px; 
  --font-size-lg: 18px; 
  --font-size-xl: 20px; 
  --font-size-2xl: 28px; 
  --font-size-3xl: 32px; 
  --font-size-4xl: 52px; 
  --font-size-5xl: 96px; 

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}


body {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-200);
}